.button {
  margin: 0;
  padding: 0;
  width: 280px;
  background-color: @basic-blue;
  color: @basic-white;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
}
