.gallery {
  padding: 40px 0 49px;
  outline: @black 1px;
  outline-offset: -1px;
}

.gallery__intro {
  padding: 0 20px 22px 20px;
  outline: blueviolet 1px;
  outline-offset: -1px;
}

.gallery__photo-item {
  padding: 0 20px;
}
