.page-title {
  background-color: #8495a1;
  background-image: url("../../img/welcome-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 43px 66px 43px;

  img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
  }

  &--welcome {
    padding: 90px 20px 84px 20px;

    img {
      width: 282px;
      height: 214px;

      @media (min-width: @tablet-width) {
        width: 461px;
        height: 350px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    padding: 77px 150px 90px;
  }
}
