.page-header {
  padding: 17px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding: 17px 26px;
  }

  @media (min-width: @desktop-width) {
    padding: 17px 77px 17px 66px;
  }
}

.page-header__logo {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  img {
    display: block;
    width: 182px;
    height: 84px;
  }
}

.page-header__toggle {
  align-self: flex-end;
  display: block;
  width: 23px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: @white;
  background-image: url("../../img/icons/icon-menu.svg");
  background-size: 23px 22px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
