.page-title {
  background-color: #8495a1;
  background-image: url("../../img/welcome-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  outline: red solid 1px;
  outline-offset: -1px;

  img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    width: 282px;
    height: 214px;
  }

  &--welcome {
    padding: 90px 20px 84px 20px;
  }
}
