.page-header {
  padding: 17px 20px 17px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  outline: black solid 1px;
  outline-offset: -1px;
}

.page-header__logo {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  img {
    display: block;
    width: 182px;
    height: 84px;
  }
}

.page-header__toggle {
  align-self: flex-end;
  display: block;
  width: 23px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: @white;
  background-image: url("../../img/icons/icon-menu.svg");
  background-size: 23px 22px;
  background-repeat: no-repeat;
}
