.reasons-item {
  color: @basic-white;

  &--additional {
    color: @basic-black;
    background-color: @background-gray;
    padding: 30px 28px 28px 28px;
  }
}

.reasons-item__about {
  padding: 36px 16px 43px 16px;
  background-color: @basic-blue;
}

.reasons-item__title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.reasons-item__text {
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.reasons-item__image-holder {
  img {
    display: block;
  }
}
