.reasons {
  outline: red solid 1px;
  outline-offset: -1px;
}

.reasons__intro {
  outline: yellow 1px;
  outline-offset: -1px;
  padding: 38px 30px 38px 30px;
}

.reasons__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons__item {
  outline: yellow solid 1px;
  outline-offset: -1px;
}
