// colors
// D6D6D6
@black: #000000;
@white: #FFFFFF;
@primary: #81B3D2;
@secondary: #EEEEEE;
@dark: #333333;
@light: #F2F2F2;
@gray: #D6D6D6;
@secondary-gray: #D5D5D5;
@light-gray: #E5E5E5;
@dark-gray: #5C6870;
@brown: #766357;
@dark-brown: #604E43;
// fonts
@main-font: "PT Sans", "Arial", sans-serif;
